#conteinerRight{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100vh;
    background-image: url("./../../../../assets/notebook.png");
}

#section2 {
    display: flex;
    justify-content: center;
    margin: 3% 0 0 35%;
    width: 19.125em;
    height: 4.313em;  
}


