.BoxLogin{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

#inputUser{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 55%;
}

#inputUser input{
    height: 4em;
    background: #26292C;
    border: 0.1em solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2em;
    padding: 0 0 0 1em;
    font-size: 16px;
    color: white;
    width: 100%;
}

#inputUser input:focus{
    resize: none;
    outline: none;
}

#inputUserTamanho{
    display: flex;
    width: 5%;
    height: 30%;
    margin: 0 0 0 -15%;
}

#inputSenha{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 55%;
}

#inputSenha input{
    height: 4em;
    background: #26292C;
    border: 0.1em solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2em;
    padding: 0 0 0 1em;
    font-size: 16px;
    color: white;
    width: 100%; 
}

#inputSenhaTamanho{
    display: flex;
    width: 5%;
    height: 30%;
    margin: 0 0 0 -15%;
}

#inputSenha input:focus{
    resize: none;
    outline: none;
}

#Continuar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
}

#Columns button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55%;
    background: linear-gradient(90deg, #FF2D04 0, #C13216 100%);
    box-shadow:  0px 5px  5px 0px black;
    border-style: none;
    border-radius: 2em;
    color: white;
    font-size: clamp(0.5rem, 3.0vw, 1.2rem);
    font-weight: bold;
    cursor: pointer;
}

#Columns button:hover {
    background: linear-gradient(90deg, #8d2a17 0, #64271b 100%);
}

#LoginEdit p{
    font-size: 30px;
    font-weight: bolder;
    margin: 0 0 20% 0;
}