@media (max-width: 1300px){
    #Clima{
        margin-left: 15%;
    }
}

@media (max-width: 1150px){
    #Clima, #Relogio{
        visibility: hidden;
    }
    #JanelaUm, #Barra, #refresh, #seconds, .grid-itemTimer{
        display: none;
    }
    #gridConteiner{
        grid-template-columns: 20% 80%;
    }
    #Navegando{
        grid-column: 2;
        margin: 0;
    }
    #btnLogout{
        grid-column: 1;
        order: -1;
    }
}

@media (max-width: 891px){
    #conteinerRight, #conteinerRightHome{
        display: none;
    }
    #conteinerLeft{
        width: 100%;
        height: 100vh;
    }
    #LogoMidiaQuery{
        margin: 0 0 60% 30%;
        width: 70%;
        height: 5%;
        display: block;
    }
    #txtIntrodutorio{
        visibility: hidden;
    }
    #btnLogout{
        
        font-size: 12px;
    }
    #Navegando{
        font-size: 12px;
    }
    #inputSenhaTamanho, #inputUserTamanho{
        margin: 0 0 0 -20%;;
    }
    #inputUser{
        margin-bottom: 15%;
    }
    #Columns button{
        height: 80%;
    }
}  
    
@media (max-width: 680px){
    #LogoGrandeFlex{
        width: 80vw;
        height: 70vh;
    }
    #gridConteiner{
        height: 10vh;
    }
    #mainColumn{
        height: 100%;
        width: 60%;
    }
}

@media (max-width: 540px){
    #inputUser input, #inputSenha input{
        height: 2.5em;
    }
}