#conteinerHome{
    display: flex;
    color: white;
    width: 100vw;
    height: 90vh;
}

#HOME{
    background-color: linear-gradient(105.96deg, #FFFFFF 0, #F0F0F0 97.86%);
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
}

