#gridConteiner{
    display: grid;
    justify-content: flex-end;
    width: 100%;
    height: 10vh;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    grid-template-columns: 30%  5% 5% 15% 6% 6% 6%;
    gap: 1%;
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: clamp(0.5rem, 3.0vw, 0.8rem);
    
}

#firstItem{
    width: 100%;
    height: 100%;
}

#bar{
    align-self: center;
    width: 1%;
    height: 70%;
    background-color: white;
}

#refresh{
    text-align: center;
    width: 90%;
    height: 100%;
    font-size: 14px;
    margin: 0 0 0 15%;
}

.grid-itemTimer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        font-size: 48px;
        font-weight: bold;
        color: white; 
    }
    h2{
        margin: 0 0 0 3%;
        font-size: 14px;
        color: white;
    }
}

#btnLogout{
    background: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration : none;
    
    &:hover{
        color: #C12D18;
    }
}


#navegation{
    margin: 0 0 0 20%;
    background-color: white;
    text-align: center;
    font-weight: 400;
    font-size: clamp(0.5rem, 3.0vw, 0.9rem);
    color: #C12D18;
}